<% if logged_in? %>
  <div id='l-col'>
  	<h3>Quotes</h3>
  </div>
  <div id='c-col'>
  	<h3>Activity</h3>
    <% current_user.following.each do  |user| %>
      <% user.books.each do  |book| %>
        <article class='following-new-read-book'>
          <%= image_tag user.avatar.url(:medium) %>
          <a href=""><img src="<%= book.cover_thumbnail %>"></a>
        </article>
      <% end %>
    <% end %>
  </div>
  <div id='r-col'>
  	<h3>Events</h3>
  </div>
<% else %>
  <div id="intro-heading-row" class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1 id="intro-heading">Leavs</h1>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <%= render 'users/form' %>
    </div>
    <div class="col-md-3">
      <%= render 'sessions/form' %>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-12" id="intro-graphic">
      <%= image_tag("books.png") %>
    </div>
  </div>
  <footer>
    Created by <a href="mailto:ryan@storberg.net">Ryan Storberg</a> in NYC.
  </footer>
<% end %>
