<div class="book-search">
  <%= form_tag(users_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search people" %>
    <br>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>

<div id="bookshelf">
  <% if @users != nil %>
    <% if @users.class == Array %>
      <% @users.each do |user| %>
        <div class='user'>
            <p><%= user.username %></p>
            <p><%= user.books.count %></p>
        </div>
      <% end %>
    <% else %>
      <p><%= @users.username %></p>
      <p><%= @users.books.count %></p>
    <% end %>
  <% end %>
</div>
