<div id="search-bar">
  <%= form_tag(users_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search people" %>
    <br>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>

<p id="notice"><%= notice %></p>

<div id="search-results">
  <% if @users != nil %>
    <% @users.each do |user| %>
      <div class='user'>
        <%= image_tag user.avatar.url(:medium) %>
        <p><%= user.username %></p>
        <p><%= user.books.count %></p>
      </div>
    <% end %>
  <% end %>
</div>
