<div id="profile-header">
  <%= image_tag current_user.avatar.url(:large) %>
  <div id="profile-information">
    <h1><%= @user.username %></h1>
    <p><%= @books.count %> books read</p>
    <p><%= @books.sum(:pages) %> pages read</p>
  </div>
</div>

<div id="divider"></div>

<div class="profile-bookshelf">
  <% @books.each do |book| %>
    <div class="book">
      <a href=""><img src="<%= book.cover_image %>"></a>
    </div>
  <% end %>
  <div class="book">
    <a href="<%= books_path %>" title="Add a book"><img src="<%= image_path("book.png") %>" alt=""></a>
  </div>
</div>
