<div class="row">
  <div id="profile-card" class="col-xs-12 col-md-2">
    <%= image_tag @user.avatar.url(:large), class: "img-rounded profile-img" %>
    <div id="profile-info">
      <h1><%= @user.username %></h1>
      <%= render 'relationships/stats' %>
      <%= render 'follow_form' if logged_in? %>
    </div>
    <div id="reading-list">
      <h1>Reading List</h1>
      <% @readerships_reading.each do |readership| %>
        <a href="<%= book_path(readership.book) %>" class="book user-book">
          <img src="<%= readership.book.cover_small %>">
        </a>
      <% end %>
      <a href="#"><p>More ...</p></a>
    </div>
  </div>
    
  
  <div id="bookshelf" class="col-xs-12 col-md-10">

    <ul id="tool-bar">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" id="current-user-menu" data-toggle="dropdown" role="button" aria-expanded="false">Sort <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Coming Soon!</a></li>
        </ul>
      </li>
      <li id="stats"><a href="#" data-toggle="modal" data-target="#myModal">Stats</a></li>
    </ul>
    <% if flash.any? %>
      <div class="alert alert-success alert-dismissible" id="alert-add-books" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Welcome to Shelfie! <a href="#" class="alert-link" data-toggle="modal" data-target="#myModal"><%= notice %></a> to get started!
      </div>
    <% end %>
    <% @readerships_read.each do |readership| %>
      <a href="<%= book_path(readership.book) %>" class="book user-book">
        <img src="<%= readership.book.cover_small %>">
      </a>
    <% end %>
  </div>
</div>
  