<div class="row" id="profile-header">
  <div class="col-md-2">
    <%= image_tag @user.avatar.url(:large), class: "img-rounded" %>
  </div>
  <div class="col-md-4">
    <h1><%= @user.username %></h1>
    <%= render 'relationships/stats' %>
    <%= render 'follow_form' if logged_in? %>
  </div>
  <div class="col-md-6">
    
  </div>
  <% if @user == current_user %>
    <button type="button" class="btn btn-default btn-md" id="books-adder" data-toggle="modal" data-target="#myModal">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add books
    </button>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="progress" id="knowledge-ratio">
      <%= render 'knowledge' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="bookshelf">
    <% @books.each do |book| %>
      <a href="<%= book_path(book) %>" class="book">
        <img src="<%= book.cover_small %>">
      </a>
    <% end %>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-search">
      <div class="modal-header search-header">
          <%= form_tag(books_path, :method => "get", id: "search-form") do %>

              <div class="input-group">
                <input name="search" type="text" class="form-control" placeholder="Search books" autofocus>
                <span class="input-group-btn">
                  <button id="search-books-button" class="btn btn-default" type="button">Go</button>
                </span>
              </div>

          <% end %>
        </div>
        <p id="notice"><%= notice %></p>

        <div id="search-results">
          
        </div>
    </div>
  </div>
</div>
  