<div class="row" id="profile-header">
  <!-- Large -->
  <div class="hidden-xs col-sm-12">
    <%= image_tag @user.avatar.url(:large), class: "img-rounded profile-img" %>
    <div id="profile-info">
      <h1><%= @user.username %></h1>
      <%= render 'relationships/stats' %>
      <%= render 'follow_form' if logged_in? %>
    </div>
    <% if current_user?(@user) %>
      <button type="button" class="btn btn-default btn-md" id="books-adder" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add books
      </button>
    <% end %>
  </div>

  <!-- Small -->
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg" id="xs-profile">
    <%= image_tag @user.avatar.url(:large), class: "img-rounded profile-img-xs" %>
    <div id="">
      <h1><%= @user.username %></h1>
      <%= render 'relationships/stats' %>
      <%= render 'follow_form' if logged_in? %>
    </div>
    <% if current_user?(@user) %>
      <button type="button" class="btn btn-default btn-md" id="books-adder" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      </button>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="progress" id="knowledge-ratio">
      <%= render 'knowledge' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="bookshelf">
    <% if flash.any? %>
      <div class="alert alert-success alert-dismissible" id="alert-add-books" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Welcome to Leavs! <a href="#" class="alert-link" data-toggle="modal" data-target="#myModal"><%= notice %></a> to get started!
      </div>
    <% end %>
    <% @books.each do |book| %>
      <a href="<%= book_path(book) %>" class="book user-book">
        <img src="<%= book.cover_small %>">
      </a>
    <% end %>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-search">
      <div class="modal-header search-header">
        <%= form_tag(books_path, :method => "get", id: "search-form") do %>
          <div class="input-group">
            <input name="search" type="text" class="form-control" id="search-books-input" placeholder="Search books">
            <span class="input-group-btn">
              <button id="search-books-button" class="btn btn-default" type="button">Go</button>
            </span>
          </div>
        <% end %>
      </div>
      <div class="modal-body" id="search-results">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div> <!-- modal-content -->
  </div> <!-- modal-dialog -->
</div> <!-- modal -->
  