<div id="profile-header">
  <%= image_tag current_user.avatar.url(:medium) %>
  <div id="profile-information">
    <%= @user.username %>
    <p><%= @books.count %> books read</p>
    <p><%= @books.sum(:pages) %> pages read</p>
  </div>
</div>

<div id="divider"></div>

<div class="profile-bookshelf">
  <% @books.each do |book| %>
    <div class="book">
      <a href=""><img src="<%= book.cover_image %>"></a>
    </div>
  <% end %>
  <div class="book">
    <a href="<%= books_path %>" title="Add a book"><img src="<%= image_path("book.png") %>" alt=""></a>
  </div>
</div>

<p id="log-out-link"><%= link_to 'Log out', session_path(current_user), method: 'delete' %></p>
