<% if @books %>
  <% @books.each do |book| %>
    <div class='book'>
      <%= form_for :readership, url: readerships_path, remote: true, html: { :class => 'new_read_book' } do |f| %>
        <%= image_submit_tag(book.image_link) %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :isbn, value: book.isbn %>
        <%= f.hidden_field :title, value: book.title %>
        <%= f.hidden_field :author, value: book.authors %>
        <%= f.hidden_field :category, value: book.categories %>
        <%= f.hidden_field :pages, value: book.page_count.to_i %>
        <%= f.hidden_field :description, value: book.description %>
        <%= f.hidden_field :cover_small, value: book.image_link(:zoom => 5) %>
        <%= f.hidden_field :cover_medium, value: book.image_link %>
        <%= f.hidden_field :cover_large, value: book.image_link(:zoom => 2) %>
     <% end %>   
    </div>
  <% end %>
<% end %>
