<div class="row">
	<div class="col-xs-12 col-md-4">
		<div class="row" id="book-info">
			<div class="col-xs-4 col-sm-3 col-md-5">
				<%= image_tag @book.cover_medium, id: "book-info-image" %>
        <% if current_user.books.include?(@book) %>
          <%= form_for(current_user.books.find_by(isbn: @book.isbn), html: { method: :delete, id: "readership-toggle" }, remote: true) do |f| %>
            <%= f.submit "Unread", class: "btn" %>
          <% end %>
        <% end %>
			</div>
			<div class="col-xs-8 col-sm-9 col-md-7">
				<h3 id="title-heading"><%= @book.title %></h3>
				<p>by <a href=""><%= @book.author %></a></p>
				<p>Category: <%= @book.category %></p>
				<p>Pages: <%= @book.pages %></p>
				<p id="isbn">ISBN: <%= @book.isbn %></p>
				<a href="" data-toggle="modal" data-target=".bs-example-modal-sm">Summary</a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-8" id="user-content">
		<%= render "discussions/index" %>
	</div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <p><%= @book.description %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div> <!-- modal-content -->
  </div> <!-- modal-dialog -->
</div> <!-- modal -->
