<%= form_for(@readership) do |f| %>
  <% if @read_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@read_book.errors.count, "error") %> prohibited this read_book from being saved:</h2>

      <ul>
      <% @read_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field_tag(:book_id, "<%= book.id %>") %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
