<nav>
  <div id='nav-left'>
    <h1>
      <%= link_to 'Shelfie', root_path %>
    </h1>
    <ul>
      <%= link_to root_path do %>
        <li>Home</li>
      <% end %>
      <%= link_to books_path do %>
        <li>Books</li>
      <% end %>
      <%= link_to users_path do %>
        <li>People</li>
      <% end %>
      <%= link_to clubs_path do %>
        <li>Clubs</li>
      <% end %>
    </ul>
  </div>

  <div id='nav-right'>
    <%= link_to user_path(current_user) do %>
      <div id='nav-toggler'>
        <h2><%= current_user.username %></h2>
        <%= image_tag(current_user.avatar.url(:thumb)) %>
      </div>
    <% end %>

    <div id='toggled'>
      <ul>
        <li><%= link_to 'Profile', user_path(current_user) %></li>
        <li><%= link_to 'Setting', edit_user_path(current_user) %></li>
        <li><%= link_to 'Log out', session_path(current_user), method: 'delete' %></li>
      </ul>
    </div>
  </div>
</nav>