<!DOCTYPE html>
<html>
<head>
  <title>SHELFIE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav id="nav-main">
      <nav id="nav-left">
        <%= link_to root_path do %>
          <h1>Shelfie</h1>
        <% end %>
      </nav>
      <nav id="nav-right">
        <% if logged_in? %>
          <%= link_to user_path(current_user) do %>
            <div id="user-menu">
              <span><%= current_user.username %></span>
              <%= image_tag(current_user.avatar.url(:thumb)) %>
            </div>
          <% end %>
          <div id="user-menu-options">
            <ul>
              <li><%= link_to 'Profile', user_path(current_user) %></li>
              <li>Settings</li>
              <li><%= link_to 'Log out', session_path(current_user), method: 'delete' %></li>
            </ul>
          </div>
        <% else %>
          <ul>
            <li id="log-in-link">
              <%= link_to 'Log in', new_session_path %>
            </li>
          </ul>
        <% end %>
      </nav>
    </nav>
  </header>

  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>
