<!DOCTYPE html>
<html>
  <head>
    <title>Shelfie</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <% if logged_in? %>
        <%= render 'layouts/nav_i' %>
      <% else %>
        <%= render 'layouts/nav_o' %>
      <% end %>
    </header>

    <main>
      <div id='content'>
        <%= yield %>
      </div>
    </main>

  </body>
</html>
