<!DOCTYPE html>
<html>
  <head>
    <title>Leavs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Gentium+Book+Basic:700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if logged_in? %>
      <%= render 'layouts/nav' %>
    <% end %>
    
    <main class="container">
      <%= yield %>
    </main>

    <footer id="sig-footer">
      <p id="sig">Created by <a href="http://ryanstorberg.com/">Ryan Storberg</a> in New York City</p>
    </footer>

  </body>
</html>
