<!DOCTYPE html>
<html>
<head>
  <title>SHELFIE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav>
      <a href="/"><h1>shelfie</h1></a>
      <% if logged_in? %>
        <ul>
          <li id="user-menu">
            <%= link_to image_tag(current_user.avatar.url(:thumb)), user_path(current_user) %>
          </li>
        </ul>
      <% else %>
        <ul>
          <li id="log-in-link">
            <%= link_to 'Log in', new_session_path %>
          </li>
        </ul>
      <% end %>
    </nav>
  </header>

  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>
