<!DOCTYPE html>
<html>
<head>
  <title>SHELFIE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav id="nav-main">
      <nav id="nav-left">
        <%= link_to root_path do %>
          <h1>Shelfie</h1>
        <% end %>
      </nav>
      <nav id="nav-right">
        <% if logged_in? %>
          <div id="user-menu">
            <%= link_to user_path(current_user) do %>
              <span><%= current_user.username %></span>
              <%= image_tag(current_user.avatar.url(:thumb)) %>
            <% end %>
              <ul class="user-menu-options">
                <%= link_to user_path(current_user) do %>
                  <li>Profile</li>
                <% end %>
                <%= link_to edit_user_path(current_user) do %>
                  <li>Settings</li>
                <% end %>
                <%= link_to session_path(current_user), method: 'delete' do %>
                  <li>Log out</li>
                <% end %>
              </ul>
          </div>
        <% else %>
          <div id="user-menu">
            <span><%= link_to 'Log in', new_session_path %></span>
            <%= render 'sessions/form' %>
          </div>
        <% end %>
      </nav>
    </nav>
  </header>

  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>
